{% load static %}


<footer>
    <div class="footer">
      <div>
        <div class="row">
          <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab"><i class="fa fa-facebook"></i></a>
          <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab"><i class="fa fa-instagram"></i></a>
          <a href="https://www.pinterest.com/" target="_blank" rel="noopener" aria-label="Pinterest - Opens in a new tab"><i class="fa-brands fa-pinterest-p"></i></a>
          <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Youtube - Opens in a new tab"><i class="fa fa-youtube"></i></a>
          <a href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="row">
          <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div> 
        <div class="row">
          CookTopia Copyright © 2024 - All rights reserved
        </div>
      </div>
    </div>
  </footer>
