<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home button on smaller screens -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link mr-5 text-black btn-gray" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown btn-gray">
            <a class="logo-font font-weight-bold nav-link mr-5 text-black btn-gray" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}?sort=brand&direction=asc" class="dropdown-item ">By Brand</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-black btn-gray" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Knives
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=chefs_knife,meat_choppers,knife_sets" class="dropdown-item">All Knives</a>
                <a href="{% url 'products' %}?category=chefs_knife" class="dropdown-item">Chef's Knife</a>
                <a href="{% url 'products' %}?category=meat_choppers" class="dropdown-item ">Meat Choppers</a>
                <a href="{% url 'products' %}?category=knife_sets" class="dropdown-item ">Knife Sets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-black btn-gray" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=cast_iron_pans,stainless_steel_pans" class="dropdown-item">All Pans</a>
                <a href="{% url 'products' %}?category=cast_iron_pans" class="dropdown-item">Cast Iron</a>
                <a href="{% url 'products' %}?category=stainless_steel_pans" class="dropdown-item ">Stainless Steel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-black btn-gray" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pots
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=cast_iron_pots,stainless_steel_pots" class="dropdown-item">All Pots</a>
                <a href="{% url 'products' %}?category=cast_iron_pots" class="dropdown-item">Cast Iron</a>
                <a href="{% url 'products' %}?category=stainless_steel_pots" class="dropdown-item ">Stainless Steel</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5 text-black btn-gray" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=cutting_boards,honing_steels" class="dropdown-item">All Accessories</a>
                <a href="{% url 'products' %}?category=cutting_boards" class="dropdown-item">Cutting Boards</a>
                <a href="{% url 'products' %}?category=honing_steels" class="dropdown-item ">Honing Steel</a>
            </div>
        </li>
    </ul>
</div>