{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container pt-0">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <!-- Product Detail Section -->
    <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
        <button onclick="history.back()" class="btn btn-outline-black rounded-0 btn-lg mt-3">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
        </button>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url}}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0 text-black font-weight-bold">{{ product.name }}</p>
                <p class="mb-0">{{ product.brand }}</p>
                <p class="lead mb-0 text-left font-weight-bold text-black">€{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-black" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.display_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.avg_rating %}
                <small class="text-muted text-black"><i class="fas fa-star mr-1"
                        style="color: #FFD43B;"></i>{{ product.avg_rating|floatformat:2 }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                </small>
                {% endif %}
                <p class="mt-3 text-black font-weight-bold">Description:</p>
                <p class="mt-3 small-text">{{ product.description }}</p>
                <!-- Product Info -->
                <p class="text-black font-weight-bold">Product Info:</p>
                <p class="small-text">Material: {{ product.material }}</p>
                <p class="small-text">Diametar: {{ product.diametar }}</p>
                <p class="small-text">Volume: {{ product.volume }}</p>
                <p class="small-text">Country of Origin: {{ product.country_of_origin }}</p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <!-- decrement button -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <!-- increment button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Add to Wishlist Small -->
                        <div class="btn d-md-none">
                            {% if user_wishlist is not None %}
                            {% if product_in_wishlist %}
                            <a href="{% url 'add_to_wishlist' product.id %}" class="btn" role="button"
                                aria-disabled="true"><i class="fa-solid fa-heart fa-lg text-black"></i></a>
                            {% else %}
                            <a href="{% url 'add_to_wishlist' product.id %}" class="btn" role="button"
                                aria-disabled="true"><i class="fa-regular fa-heart fa-lg text-black"></i></a>
                            {% endif %}
                            {% else %}
                            <a href="{% url 'add_to_wishlist' product.id %}" class="btn" role="button"
                                aria-disabled="true"><i class="fa-regular fa-heart fa-lg text-black"></i></a>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-red rounded-0 text-uppercase mt-2" value="Add to Bag">
                            <!-- Add to Wishlist Medium+ -->
                            <div class="btn d-none d-md-inline">
                                {% if user_wishlist is not None %}
                                {% if product_in_wishlist %}
                                <a href="{% url 'add_to_wishlist' product.id %}" class="btn" role="button"
                                    aria-disabled="true"><i class="fa-solid fa-heart fa-lg text-black"></i></a>
                                {% else %}
                                <a href="{% url 'add_to_wishlist' product.id %}" class="btn" role="button"
                                    aria-disabled="true"><i class="fa-regular fa-heart fa-lg text-black"></i></a>
                                {% endif %}
                                {% else %}
                                <a href="{% url 'add_to_wishlist' product.id %}" class="btn" role="button"
                                    aria-disabled="true"><i class="fa-regular fa-heart fa-lg text-black"></i></a>
                                {% endif %}
                            </div>
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Review/Rating Section -->
    <div class="row">
        <div class="container col-12 col-md-9 text-black">
            <hr class="w-100 mt-0">
            <form action="{% url 'submit_review' product.id %}" id="reviewForm" method="POST">
                {% csrf_token %}
                <header>
                    <h3 class="text-uppercase">Leave your review</h3>
                </header>
                <div>
                    Rating:
                    <!-- Rating stars -->
                    <br>
                    <div class="rate">
                        <input type="radio" name="rating" id="rating5" value="5" required checked /><label for="rating5"
                            title="5"></label>
                        <input type="radio" name="rating" id="rating4" value="4" required /><label for="rating4"
                            title="4"></label>
                        <input type="radio" name="rating" id="rating3" value="3" required /><label for="rating3"
                            title="3"></label>
                        <input type="radio" name="rating" id="rating2" value="2" required /><label for="rating2"
                            title="2"></label>
                        <input type="radio" name="rating" id="rating1" value="1" required /><label for="rating1"
                            title="1"></label>
                    </div>
                    <br>
                    Title:
                    <input type="text" class="form-control rounded-0 border-black" name="subject"
                        placeholder="e.g. The best Product ever :D..." required>
                    <br>
                    Comment:
                    <textarea name="review" rows="4" class="form-control rounded-0 border-black"
                        placeholder="Write something about the product..." required></textarea>
                    <br>
                    <!-- Submit/Update Review Button Logic -->
                    {% if user.is_authenticated %}
                    {% if already_bought %}
                    {% if already_commented == True %}
                    <p class="text-muted">(Re-Comment/Rate if you wish and press Update Review, your previous comment
                        will be updated.)</p>
                    <input type="submit" value="Update Review" class="btn btn-red rounded-0 text-uppercase">
                    {% else %}
                    <input type="submit" value="Submit Review" class="btn btn-red rounded-0 text-uppercase">
                    {% endif %}
                    {% else %}
                    <p>You must purchase this product to post a review.</p>
                    {% endif %}
                    {% else %}
                    <p>You must be logged in to post a review. <span><a class="text-info no-underline"
                                href="{% url 'account_login' %}?next={{ request.path }}">Login To Review</a></span></p>
                    {% endif %}
                </div>
            </form>
        </div>
        <!-- Comment Section -->
        <div class="container col-12 col-md-9 w-75 mb-3 text-black mt-3">
            <h3 class="text-uppercase">Customer Reviews</h3>
            {% if reviews %}
            {% for review in reviews %}
            <hr class="mt-0 ml-0">
            <div class="w-md-75 mt-3">
                <div class=" d-flex justify-content-between pl-3">
                    <div class="pt-1 pb-1">
                        <span class="font-weight-bold h6">@{{ review.user}}: <span
                                class="font-weight-normal font-italic">{{ review.subject }}</span></span>
                        {% if already_commented == True %}
                        <span class="text-muted font-italic text-mini">{{ review.updated_on}}</span>
                        {% else %}
                        <span class="text-muted font-italic text-mini">{{ review.created_on}}</span>
                        {% endif %}
                    </div>
                    <div class="pr-3 pt-1">
                        <span class="text-muted text-black">
                            <i class="fas fa-star mr-1" style="color: #FFD43B;"></i>
                            {{ review.rating|floatformat:2 }} / 5
                        </span>
                    </div>
                </div>
                <div class="pl-3">
                    <p>
                        {{ review.review }}
                    </p>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-muted">There are no reviews for this product yet.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}